Repository jogpfls/CLUSTAR-CLIENT: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lint:
  run: pnpm exec eslint {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: 토큰 스타일 구현
  packages/cds-ui/src/token/color.css.ts
  packages/cds-ui/src/token/font-style.ts
  packages/cds-ui/src/token/typography.ts
  packages/cds-ui/src/token/width.ts
Due: lint, prettier

fix: eslint 설정 수정 및 devDependencies로 이동
  lefthook.yml
  packages/eslint-config/package.json
Due: prettier

feat: ThemeProvider 및 스타일 관련 파일 추가
  apps/client/src/apps/App.tsx
  packages/cds-ui/package.json
  packages/cds-ui/src/index.ts
  packages/cds-ui/src/providers/theme-provider.tsx
  packages/cds-ui/src/styles/index.ts
  packages/cds-ui/src/styles/theme.css.ts
  packages/cds-ui/src/token/index.ts
Due: lint, prettier

refactor: ThemeProvider 및 스타일 관련 파일 구조 개선
  packages/cds-ui/src/index.ts
  packages/cds-ui/src/providers/theme-provider.tsx
  packages/cds-ui/src/styles/index.ts
  packages/cds-ui/src/styles/sprinkles.css.ts
  packages/cds-ui/src/styles/theme.css.ts
  packages/cds-ui/src/token/index.ts
  packages/cds-ui/vite.config.ts
Due: lint, prettier

fix: memo-page.css.ts에서 container 스타일 속성 추가
  apps/client/src/pages/memo/ui/memo-page.css.ts
Due: lint, prettier

fix: 루트에서 vanilla-extract 관련 의존성 삭제
  package.json
  pnpm-lock.yaml
Due: prettier

chore: vercel.json 파일 삭제
  apps/client/vercel.json
Due: prettier

feat: .env.example 추가
  apps/client/.env.example
Due: none

feat: Sentry 초기화 함수 추가 및 main.tsx에서 호출
  apps/client/src/apps/main.tsx
  apps/client/src/shared/sentry/init.ts
Due: lint, prettier

feat: Sentry 초기화 함수의 경로 수정 및 새로운 설정 파일 추가
  apps/client/src/apps/main.tsx
  apps/client/src/shared/configs/sentry-init.ts
Due: lint, prettier

fix: 파일 위치 변경
  apps/client/src/shared/api/config/end-point.ts
  apps/client/src/shared/libs/query-client.ts
Due: lint, prettier

feat: GlobalErrorBoundary 컴포넌트 추가 및 App.tsx에서 사용
  apps/client/src/apps/App.tsx
  apps/client/src/apps/providers/global-error-boundary.tsx
Due: lint, prettier

feat: Sentry 설정 업데이트 및 빌드 환경 변수 추가
  .github/workflows/build.yml
  apps/client/vite.config.ts
Due: lint, prettier

chore: 불필요한 라이브러리 삭제
  apps/client/package.json
  pnpm-lock.yaml
Due: prettier

chore: 예시 코드 삭제
  apps/client/src/apps/App.tsx
Due: lint, prettier

docs: packages/icons 폴더 삭제
  packages/icons/.gitkeep
Due: none

fix: EsLint 정렬 요청 반영
  apps/client/src/apps/App.tsx
Due: lint, prettier

fix: EsLint 정렬 요청 반영
  apps/client/tsconfig.json
Due: prettier

init: vite-plugin-svg-sprite 설정
  apps/client/vite.config.ts
Due: lint, prettier

feat: Storybook 설정에 vanilla-extract 플러그인 추가 및 preview.tsx 파일 생성
  packages/cds-ui/.storybook/main.ts
  packages/cds-ui/.storybook/preview.tsx
Due: lint, prettier

init: 사용 예제 추가
  apps/client/src/pages/memo/ui/memo-page.tsx
Due: lint, prettier

fix: index.html 폰트 스타일 변경
  apps/client/index.html
Due: none

Feat(cds): 타이틀 컴포넌트 구현 (#69)
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/title/title.css.ts
  packages/cds-ui/src/components/title/title.stories.tsx
  packages/cds-ui/src/components/title/title.tsx
Due: lint, prettier

Feat(cds): 사이드바 패널 구현 (#66)
  packages/cds-icon/index.ts
  packages/cds-icon/package.json
  packages/cds-icon/src/components/icon/icon.tsx
  packages/cds-icon/src/components/index.ts
  packages/cds-icon/src/index.ts
  packages/cds-icon/vite.config.ts
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/sidebar-pannel/sidebar-pannel.css.ts
  packages/cds-ui/src/components/sidebar-pannel/sidebar-pannel.stories.tsx
  packages/cds-ui/src/components/sidebar-pannel/sidebar-pannel.tsx
Due: lint, prettier

Feat(cds): 파일 컴포넌트 구현 (#76)
  packages/cds-ui/src/components/file/file.css.ts
  packages/cds-ui/src/components/file/file.stories.ts
  packages/cds-ui/src/components/file/file.tsx
  packages/cds-ui/src/components/index.ts
Due: lint, prettier

Feat(cds): SVG 아이콘 최신 변경사항 반영 (#80)
  packages/cds-icon/src/assets/ic_ai_blue_36.svg
  packages/cds-icon/src/assets/ic_ai_blue_40.svg
  packages/cds-icon/src/assets/ic_alert.svg
  packages/cds-icon/src/assets/ic_allmemo.svg
  packages/cds-icon/src/assets/ic_allmemo_blue.svg
  packages/cds-icon/src/assets/ic_bold.svg
  packages/cds-icon/src/assets/ic_breif_off.svg
  packages/cds-icon/src/assets/ic_breif_on.svg
  packages/cds-icon/src/assets/ic_file_24.svg
  packages/cds-icon/src/assets/ic_file_36.svg
  packages/cds-icon/src/assets/ic_img_24.svg
  packages/cds-icon/src/assets/ic_img_36.svg
  packages/cds-icon/src/assets/ic_italic.svg
  packages/cds-icon/src/assets/ic_newmemo.svg
  packages/cds-icon/src/assets/ic_output.svg
  packages/cds-icon/src/assets/ic_output_blue.svg
  packages/cds-icon/src/assets/ic_output_gra.svg
  packages/cds-icon/src/assets/ic_plus.svg
  packages/cds-icon/src/assets/ic_send.svg
  packages/cds-icon/src/assets/ic_structure_off.svg
  packages/cds-icon/src/assets/ic_structure_on.svg
  packages/cds-icon/src/assets/ic_summary_off.svg
  packages/cds-icon/src/assets/ic_summary_on.svg
  packages/cds-icon/src/assets/ic_underline.svg
  packages/cds-icon/src/icon-list.ts
Due: lint, prettier

Feat(cds): 라벨 리스트 컴포넌트 구현 (#72)
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/label-list/label-list.css.ts
  packages/cds-ui/src/components/label-list/label-list.stories.tsx
  packages/cds-ui/src/components/label-list/label-list.tsx
  packages/cds-ui/src/components/label/label.tsx
Due: lint, prettier

Feat(cds): button 컴포넌트 구현 (#60)
  packages/cds-ui/src/components/button/button.css.ts
  packages/cds-ui/src/components/button/button.stories.tsx
  packages/cds-ui/src/components/button/button.tsx
Due: lint, prettier

Feat(cds): 사이드바 아이콘 컴포넌트 구현 (#81)
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/sidebar-icon/sidebar-icon.css.ts
  packages/cds-ui/src/components/sidebar-icon/sidebar-icon.stories.tsx
  packages/cds-ui/src/components/sidebar-icon/sidebar-icon.tsx
Due: lint, prettier

Feat(cds): FloatingLabel, FloatingMenu 컴포넌트 구현 (#73)
  packages/cds-ui/src/components/floating-label-token/floating-label-token.css.ts
  packages/cds-ui/src/components/floating-label-token/floating-label-token.stories.tsx
  packages/cds-ui/src/components/floating-label-token/floating-label-token.tsx
  packages/cds-ui/src/components/floating-label/floating-label.css.ts
  packages/cds-ui/src/components/floating-label/floating-label.stories.ts
  packages/cds-ui/src/components/floating-label/floating-label.tsx
  packages/cds-ui/src/components/floating-menu/floating-menu.css.ts
  packages/cds-ui/src/components/floating-menu/floating-menu.stories.tsx
  packages/cds-ui/src/components/floating-menu/floating-menu.tsx
  packages/cds-ui/src/components/hover-label-token/hover-label-token.stories.tsx
  packages/cds-ui/src/components/hover-label-token/hover-label-token.tsx
  packages/cds-ui/src/components/index.ts
Due: lint, prettier

Feat(cds): toggle 컴포넌트 구현 (#79)
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/toggle/toggle-context.ts
  packages/cds-ui/src/components/toggle/toggle.css.ts
  packages/cds-ui/src/components/toggle/toggle.stories.tsx
  packages/cds-ui/src/components/toggle/toggle.tsx
Due: lint, prettier

Feat(client): AI 프롬프트 말풍선 컴포넌트 구현 (#85)
  apps/client/src/entities/message/ui/user-message-bubble.css.ts
  apps/client/src/entities/message/ui/user-message-bubble.tsx
  packages/cds-ui/src/styles/animations.css.ts
  packages/cds-ui/src/styles/index.ts
Due: lint, prettier

Feat(client): AI 프롬프트 popover 컴포넌트 구현 (#93)
  apps/client/src/features/ai-prompt/ui/prompt-popover.css.ts
  apps/client/src/features/ai-prompt/ui/prompt-popover.tsx
Due: lint, prettier

feat(cds): 모달 컴포넌트, TextContent 컴포넌트 구현 (#90)
  packages/cds-ui/package.json
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/modal/modal.css.ts
  packages/cds-ui/src/components/modal/modal.stories.tsx
  packages/cds-ui/src/components/modal/modal.tsx
  packages/cds-ui/src/components/text-content/text-content.css.ts
  packages/cds-ui/src/components/text-content/text-content.stories.ts
  packages/cds-ui/src/components/text-content/text-content.tsx
  packages/cds-ui/src/styles/global.css.ts
  packages/cds-ui/src/token/z-index.ts
  pnpm-lock.yaml
Due: lint, prettier

Feat(cds): header 컴포넌트 구현 (#87)
  packages/cds-ui/src/components/header/header.css.ts
  packages/cds-ui/src/components/header/header.stories.tsx
  packages/cds-ui/src/components/header/header.tsx
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/page-title/page-title.css.ts
  packages/cds-ui/src/components/search/search.css.ts
Due: lint, prettier

Feat(cds): 카드 컴포넌트 구현 (#91)
  packages/cds-ui/src/components/card/card.css.ts
  packages/cds-ui/src/components/card/card.stories.tsx
  packages/cds-ui/src/components/card/card.tsx
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/label-list/label-list.css.ts
  packages/cds-ui/src/components/label-list/label-list.stories.tsx
  packages/cds-ui/src/components/label-list/label-list.tsx
  packages/cds-ui/src/components/label/label.css.ts
  packages/cds-ui/src/components/label/label.tsx
  packages/cds-ui/src/constants/label-color-map.ts
Due: lint, prettier

Feat(client): prompt option 컴포넌트 구현 (#96)
  apps/client/src/entities/prompt-message/ui/user-message-bubble.css.ts
  apps/client/src/entities/prompt-message/ui/user-message-bubble.tsx
  apps/client/src/features/ai-prompt-input/ui/prompt-option-item.tsx
  apps/client/src/features/ai-prompt-input/ui/prompt-option.css.ts
  apps/client/src/features/ai-prompt-input/ui/prompt-option.tsx
  apps/client/src/features/ai-prompt-input/ui/prompt-popover.css.ts
  apps/client/src/features/ai-prompt-input/ui/prompt-popover.tsx
  packages/cds-icon/index.ts
Due: lint, prettier

Feat(client): 메모 Tab 컴포넌트 구현 (#101)
  apps/client/src/entities/.gitkeep
  apps/client/src/entities/memo/models/constant.ts
  apps/client/src/entities/memo/ui/tab/tab.css.ts
  apps/client/src/entities/memo/ui/tab/tab.tsx
Due: lint, prettier

Feat(cds): DetailModal 컴포넌트 구현 (#104)
  packages/cds-ui/src/components/detail-modal/detail-modal.css.ts
  packages/cds-ui/src/components/detail-modal/detail-modal.stories.tsx
  packages/cds-ui/src/components/detail-modal/detail-modal.tsx
  packages/cds-ui/src/components/file/file.tsx
  packages/cds-ui/src/components/image-container/image-container.css.ts
  packages/cds-ui/src/components/image-container/image-container.stories.tsx
  packages/cds-ui/src/components/image-container/image-container.tsx
  packages/cds-ui/src/components/index.ts
  packages/cds-ui/src/components/label-list/label-list.tsx
  packages/cds-ui/src/components/modal/modal.css.ts
  packages/cds-ui/src/components/modal/modal.tsx
  packages/cds-ui/src/components/selected-memo/selected-memo.css.ts
  packages/cds-ui/src/components/selected-memo/selected-memo.tsx
  packages/cds-ui/src/styles/global.css.ts
Due: lint, prettier

Feat(client): AiMessageBubble 컴포넌트 구현 (#105)
  apps/client/src/entities/message/ui/ai-message-bubble.css.ts
  apps/client/src/entities/message/ui/ai-message-bubble.tsx
Due: lint, prettier

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,yaml,yml,md}
